*{

    margin: 0px;
    padding: 0px;

}
html{
   
    height: 100vh;
    align-content: center;
    
}
body{
    display: grid;
    justify-content: center;


}
.Content{

    display: grid; 
   
    font-family: Arial, Helvetica, sans-serif;  
    box-shadow: 0px 2px 20px 0px;
    border: #33A solid;
}
.content-header{
    padding: 1rem;
    color: aliceblue;
    background-color: #33A;
}
.
.content-body{
    padding: 1 rem;

}
.content-body{
    display: grid;
    
    padding: 1rem;
    background-color: white;
    justify-items: center;

}
.body-canvas{
    padding: 0.5rem;
    border: black solid;
    background-color: aliceblue; /*posible causante de inoperancia por temas del codigo javascript*/
 
}
.body-instruction{
    padding: 1rem;
    
}
.body-instruction h1 {
    padding: 0.5rem;
    font-size: large;
}
.content-footer{

    padding: 1rem;
    color: aliceblue;
    background-color: #33A;

}
.content-footer a {
    color: aliceblue;
    font-weight: bold;
    margin: 5PX;
}